@font-face {
    font-family: 'SWfont';
    src: url('../media/STARWARS.woff2') format('woff2'), /* Formato WOFF2 para navegadores modernos */
         url('../media/STARWARS.woff') format('woff'),   /* Formato WOFF para compatibilidad */
         url('../media/STARWARS.ttf') format('truetype'); /* Formato TTF para navegadores más antiguos */
  }

* {
    color: orange;
    font-family: 'SWfont', sans-serif;
    transition: 0.5s;
}



body {
    height: 100dvh;
    width: 100vw;
    background-image: url("../media/bg.png");
    color: white;
}
#row2 {
    height: 80dvh;
}

#row1 {
    display: grid;
    place-content: center;
}
#cardRow {
    height: 50%;
}
.cardsRow{
    height: 100%;
    display: flex;
    justify-content: center;
}

.btn {
    background-color: orange;
}
#infoRow{
    height: 70%;
    min-height: 370px;
}
#infoHeader{
    margin-bottom: 50px;
}
#infoPj {
    column-count: 2; /* Divide el contenido en dos columnas */
    column-gap: 20px; /* Espacio entre las columnas */
    column-rule: 1px solid #ccc; /* Borde entre las columnas */
}
.card {
    height: 25vw;
    max-height: 150px;
    width: 15vw;
    max-width: 100px;
    background-image: url("../media/card_bg.jpg");
    background-size: contain;
    box-shadow: 0 0 10px 5px orange;
    border: 1.5px solid black;
    margin: 0 -15px;
    border-radius: 20px;
    padding: 2% 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.card:hover {
    height: 30vw;
    max-height: 200px;
    width: 20vw;
    max-width: 160px;
}
.card p{
    text-shadow: 4px 3px 2px grey;
}
.pj {
    border-radius: 15px;
    height:75%;
    max-height: 245px;
    width: 80%;
    max-width: 145px;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 3px grey;
}

.cardText {
    font-size: 0.8rem;
}
ul {
    list-style: none; 
    padding: 0; 
    margin: 0; 
}
